<div class="w-50 mx-auto p-3 mt-5 border bg-white">
<% if @message %>
    <div class="alert alert-danger">
      <p class="mt-1 mb-1"><%= @message %></p>
    </div>  
  <% end %>
  <h3>新規登録</h3>
  <%= form_with(model: @user, class: "form-signin") do |f| %>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Name</span>
      </div>
      <%= f.text_field :name, class: "form-control" %>
    </div><div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Email</span>
      </div>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Password</span>
      </div>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <%= f.submit value: "登録", class: "mx-auto btn btn-outline-primary my-1" %>
  <% end %>
</div>
